body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #ffffff !important;
  padding: 0.5em;
  height: 75px;
  color: #000000;

}

.navbar-logo {
  top: 15px;
  position: relative;
}

.navbar-items {
  top :-30px;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Align items vertically */
  position: relative;
  padding: 5px;
}

header {
  color: #fff;
  text-align: center;
  padding: 7em;
  background-color: #17a2b8;


  h2 a {
      font-size: x-large;
      text-decoration: none;
      color: #ffffff;
  }

  h1 {
      margin-bottom: 1px;
      font-size: 70px;
  }
}


.join-class-button{
text-decoration: none;
    background-color: #17a2b8;
    color: #fff;
    padding: 13px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 1em;
  position: relative;
}

nav a:hover {
  background-color: #555;
}


.h5 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
  color: #17a2b8;
}

h2 {
  margin: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  ;
}
/* 

/* calculator */
.main{
  margin: 15px;
  justify-content: center;
display: flex;

}
.content{
  margin: 50px;
  display: grid;
  justify-content: center;
}

.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: #2f9fff;
}
/* calculator end */


/* go top button    */
  
#goTopBtn {
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99;
  border: none; 
  outline: none; 
  background-color: #17a2b8;
  color: white;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 7px; 
}

#goTopBtn:hover {
  transition: 0.3s;
  background-color: #2192a3; 
}

/* go top button end    */

footer {
  background-color: #00394f;
  color: #fff;
  padding: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer p {
  margin: 5px 0;
}

footer h2 {
  color: #17a2b8;
  margin: 20px;
}


footer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: baseline;
}

.nav-shortcuts,
.nav-shortcuts-2,
.nav-shortcuts-3,
.nav-shortcuts-4 {
  flex: 1; 
  line-height: 28px;
  margin: 10px; 
  
}

.nav-shortcuts-5 {
 
  margin: 10px;
  padding: 10px;
  display: flex; 
  justify-content: space-between;
}

.nav-shortcuts-5-div-1,
.nav-shortcuts-5-div-2 {
  flex: 1; 
  text-decoration: none;
}


footer > table {
  margin: 0; 
}


@media (max-width: 768px) {
  .nav-shortcuts,
  .nav-shortcuts-2,
  .nav-shortcuts-3,
  .nav-shortcuts-4 {
    flex: auto; 
  }
}
